@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html {
    scroll-behavior: smooth;
}

h1 {
    color: goldenrod;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Cinzel', serif;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1300px;
}

.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
}

.slide {
    height: 281px;
    border: 2px solid goldenrod;
}

.slide img {
    height: 280px;
    width: 360px;
}

.slide-track {
    height: 320px;
}

.footer img{
    height: 90px;
    width: 90px;
}