html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.3s ease-in-out;
  
}
body {
  background: black;
 
}
.container {
  clear: both;
  overflow: auto;
  
}

nav {
  float: right;
  
}

.logo img {
  height: 150px;
  width: 160px;
  float: left;
 
}
ul li a{
  text-decoration: none;
  font-family: raleway;
  color: white;
}
ul li {
  display: inline-block;
  padding: 10px;
  font-size: 25px;
  font-family: raleway;
  color: white;
}


ul li a:hover {
  color: #d8af54;
}
.hero,.hero2{
  text-align: center;
}
.hero h1{  
  /* for heading change here */
  color: #d8af54;
  font-size: 80px;
  letter-spacing: 20px;
  padding-top: 20px;
  margin: 0px;
  font-family: 'Bodoni Moda', serif;
}
.hero2 h2{  
  /* for heading change here */
  color: white;
  font-size: 30px;
  letter-spacing: 10px;
  justify-content: center;
  font-family: 'Bodoni Moda', serif;
}
.miniheading{
  margin-top: 20px;
}
.intro {
  color:#d8af54;
  font-size: 18px;
  letter-spacing: 2px;
  justify-content: center;
  font-family: 'Cinzel', serif;
  text-align: center;

}
/* Style the video: 100% width and height to cover the entire window */
.videorpl{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.videorpl video{
  border:#d8af54 solid;
}
.grid-flow {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: aliceblue;
  
}
.upgrid{
  justify-content: center;
}

#services{
  margin: 9px;
  display: flex;
}
#services .box{ 
  border: 4px solid #d8af54;
  padding: 20px;
  margin: 2px 10px;
  border-radius: 28px;
  background:black;
  margin-bottom: 12px;
  width: 33%;
}

#services .box img{ 
 height: 160px;
 margin: auto;
 display: block;
}

#services .box p{
  font-family: 'Roboto Slab', serif;

}
.box:hover{
  transform: scale(1.1);
}
.h-secondary{
  color:#d8af54;
  font-family: 'Cinzel', serif;
  text-align: center;
}

.center{
  color: white;
text-align: center;
}
.heading2{
  color: #d8af54;
  text-align: center;
  font-size: 50px;
}
#franchise-section{
  height: 362px;
}


#franchise{
  display: flex;
  justify-content: center;
  align-items: center;
}

.franchise-item{
  padding: 50px;
  margin-top: 35px;
}

.franchise-item:hover{
  transform: scale(1.3);
}
#franchise img{
  height: 150px;
}
#contact{
  position: relative;
}

#contact::before{
  content: "";
  position: absolute;
  background: url('contactus.jpg') no-repeat center center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}
#contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

#contact-box input,
#contact-box textarea{
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 1.1rem;
}
#contact-box form{
  width: 40%;
}

.box{
  cursor: pointer;
}

.box a{
  text-decoration: none;
}

#contact-box label{
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
  color: #d8af54;
}

.btn2{
  padding: 8px 20px;
  border: 2px solid #d8af54;
  background-color:black;
  color: white;
  margin: 20px;
  font-size: 1.2rem;
  border-radius: 30px;
  font-family: 'Cinzel';
  cursor: pointer;
  text-align: center;
  margin-left: 40%;
}

.btn2:hover{
  background-color:#d8af54;
  color:black;
}

#Typeofevent{
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 1.1rem;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
}

.icons {
  margin-right: 2rem;
  cursor: pointer;
  
}

.footer p{
  color: white;
}